/* ==========================================================================
   General styles
   ========================================================================== */
html {
  font-family: sans-serif;
}

img {
  width: 5em;
}

body {
  background-color: #0e4194;
  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  color: #c6a014;
}

a {
  /*color: white;*/
  text-decoration: none;
}

/* ==========================================================================
   Typography
   ========================================================================== */
p {
  line-height: 0.5;
}

/* ==========================================================================
   Layout
   ========================================================================== */

.wrapper {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.wrapper:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  background-color: #f3f3f3;
  color: #0e4194;
  flex-wrap: wrap;
  padding: 1em;
}

main > * {
  margin-right: 2em;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 500px;
  width: 70vw;
}

header {
  margin-right: 5em;
}
/* ==========================================================================
   Form
   ========================================================================== */

button {
  background-color: #fff;
  border: .1em solid #009fe3;
  width: 100%;
  padding: 1em 0em;
  font-size: 1em;
  color: #009fe3;
  margin-top: 1em;
  transition: all 300ms;
}

button:hover, button:active {
  background-color: #009fe3;
  color: white;
}

button:focus {
  border: 2px solid hotpink;
}
/* ==========================================================================
   Lightbox
   ========================================================================== */
#lightbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#lightbox::after {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.80;
  z-index: -1;
}

.box {
  background-color: white;
  padding: 1em;
  text-align: center;
}

.box p {
  font-size: 1.5em;
}
